/*This is where we implement tabular for admin and stock view*/


.head_admin, a {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    background-color: #4CAF50;
}

.stock_admin {
    font-size: 20px;
    text-align: center;
    background-color: #f8d200;

}


/* the following two rules make odd and even entries in different colours. Comment: they don't work with hover, and overrides it.*/
/*
.stock_admin:nth-child(even) {
    margin: auto%;
    background-color: #9acef7
}

.stock_admin:nth-child(odd) {
    margin: auto;
    background-color: rgb(196, 196, 196)
}

*/

/* This makes entries in the table light up when hovered */
tr:hover {background-color: rgba(255, 177, 0, 0.81)}



/*This controls the table-cells, giving them padding and borders*/
td,th {
    border: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: .4em;
}



/*this decides how big the area of the table is*/
#tableDiv{
    
    height:19.745em;
    border-bottom:1px solid grey;
    width: 100%;
    overflow-y: auto;
}






#adminContent {
    position: relative;
}



#stockTable {
    width: 100%;
    table-layout: fixed;
  border-collapse: collapse;
}

/*
.stockTable {
    width: 150px;
    height: 150px;
    overflow: scroll;
*/

/* the two following are for editing the search bar*/ 

#search {
    border: 1px solid grey;
    margin-bottom: 0.2em;
    padding: 1.1em 3px;
    width: 17em;
    -webkit-transition: width 0.8s; /* for Safari */
    transition: width 0.8s; /* for other browsers*/
}

#search:hover {
    width: 34em;
    color: aqua
    
}




/*this is for the popup*/


