/*This is where we implement tabular for admin and stock view*/

.head_admin {
    text-decoration: underline;
    font-size: 30px;
    background-color: rgb(255, 255, 255)
}

.stock_admin {
    font-size: 20px;
    width: auto;
    text-align-last: center
}

.stock_admin:nth-child(even) {
    margin: auto%;
    background-color: #9acef7
}

.stock_admin:nth-child(odd) {
    margin: auto;
    background-color: rgb(196, 196, 196)
}

.stockTable {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 30px;
    text-align: left;
}


tr:hover {background-color: #f5f5f5}




/* imported from style.css, in trying to override */

#sidebar_content {
    margin-top: 1em;
} /*<- this doesn't seem to do anything*/



#content table {
    border-collapse: separate;
    border-spacing: .5em .3em;
    margin-left: auto;
    margin-right: auto;
}

.product {
    border-radius: 1em;
    box-shadow: 0 2px 2px 1px #333;
    color: black;
    width: 230px;
}

.slotElement {
    width: 90px;
    height: 117px;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    float: right;
}

.slotLeft {
    width: 100px;
    height: 117px;
    float: left;
    position: relative;