/*This is where we implement tabular for admin and stock view*/

.head_admin {
    text-decoration: underline;
    font-size: 30px;
    background-color: rgb(255, 255, 255)
}

.stock_admin {
    font-size: 20px;
    width: auto;
    text-align-last: center
}

.stock_admin:nth-child(even) {
    margin: auto%;
    background-color: #9acef7
}

.stock_admin:nth-child(odd) {
    margin: auto;
    background-color: rgb(196, 196, 196)
}

.stockTable {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}