@import "https://fonts.googleapis.com/css?family=Pacifico|Dosis";

@media screen and (max-width: 450px){
    
    body{
        font-size: 15px;
    }
}

html {
    background-image: linear-gradient(270deg, rgb(116, 70, 16) 0%, rgb(116, 70, 16) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    border-radius: 5em;
    padding: 4em;
    text-align: center;
    background: #e8e1cb;
    color: #434343;
    font-family: Dosis, sans-serif;
    font-size: 20px;
    margin: auto;
    height: 70%;
    width: 70%;  
    box-shadow: 1px 1px 100px #000000;
    
}

.field{
    border-radius: 6px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #ffffff;
    border: 5px solid;
    border-color: rgb(116, 70, 16);
    width: 30%;
    font-family: Dosis, sans-serif;
    font-size: 25px;
}

/*This is where the css code for the button starts*/

.button {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(0, 132, 0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding: .5em;
    width: 200px;
    transition: all 0.1s;
    cursor: pointer;
    margin: .5em;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

