@import url("reset.css");
@import "https://fonts.googleapis.com/css?family=Pacifico|Dosis";


html {
	font-size: 30px;
}

#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:1240px;
}

header {
	position: static;
}

header dt {
	display: inline;
}

header button, a {
	font-size: 30px;
	color: black;
	font-family: Dosis, sans-serif; /* Just to have something to work with, otherwise links and non-links gor different fonts*/
	border: 1px solid #333;
	border-radius: 1em;
	padding: 3px 20px 3px;
	background-color:#1ab3fd ;
	text-decoration: none;
}

header button:hover, a:hover {
	color: #1330ee;
}

header dl {
	text-align: center;
	padding: 1px 10px 1px;
}

header {
	padding: 1.5em 1em .7em;
	background-color:#6D4C41 ;
}

.container { position:relative; padding:0 0 0 200px; }

#sidebar div {
	font-size: 20px;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:200px;
    height: 637px;
    background-color:#6D4C41;
    text-align: center;
    margin: 0 auto;
	}

#sidebar_header {
	margin-top: 4em;
	margin-right: auto;
	}
	
#sidebar_header2 {
	margin-top: 4em;
	}

#sidebar_header2 [a] {
	margin-top: 4em;
	border: 1px solid #333;
	border-radius: 1em;
	padding: .5em 1em .5em;
	background-color: #1ab3fd ;
	}

#sidebar_header2 a:hover {
	color: #1330ee;
	}

#sidebar_header2 a{
	text-decoration: none;
	}
		
#sidebar_content{
	margin-top: 2em;
	}

#cart {
	border: 1px solid #333;
	border-radius: 1em;
}

#sidebar_footer button{
	font-size: 16px;
	border: 1px solid #333;
	border-radius: 1em;
	background-color: #1ab3fd;
}

#content {
	height: 520px;
}

#content table {
	border-collapse: separate;
	border-spacing: 1em .3em;
	margin-left: auto;
	margin-right: auto;
}

#content td {
   border-radius: 1.5em;
   box-shadow: 0 2px 2px 1px #333;
   text-align: center;
   vertical-align: middle;
   color: black;
   padding: 1.5em;
   background-color: #26C6DA ;

}
	
#sidebar div {
	font-size: 20px;
	}


/*Stuff only related to the history/stats page!*/

#historycontent {
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


