@import "https://fonts.googleapis.com/css?family=Pacifico|Dosis";

html {
    font-size: 30px;
}

/* The wrapper wraps EVERYTHING */
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 768px;
    font-family: Dosis, sans-serif;   
}

/* Contains everything that we edit on the page. */
.container {
    position: relative;
    padding: 0 0 0 200px;
}

/* THE ABOVE THREE RULES APPLY TO ALL PAGES, ALL THE TIME! */
@media screen and (max-width: 1024px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}